@{
    var token = ViewBag.Token;
}
<div id="divIndex">
    @await Html.PartialAsync("_LandingPage")
</div>

@section Scripts {
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function (){
            var token = '@ViewBag.Token';
            console.log("Token in Index:", token);
        });
    </script>
}