@{
    var token = ViewBag.Token;
    var tempToken = ViewBag.tempToken;
}
<div id="divIndex">
    @await Html.PartialAsync("_LandingPage")
</div>

@section Scripts {
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function (){
            var token = '@ViewBag.Token';
            var tempToken = '@ViewBag.tempToken';
            console.log("Token in Index:", token);
            console.log("TempToken in Index:", tempToken);
        });
    </script>
}